name: macOS Remote Desktop
on: workflow_dispatch

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Install Ngrok
        run: brew install --cask ngrok
      - name: Authenticate Ngrok
        run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Enable Screen Sharing
        run: |
          # Create a new user so we don't mess with the runner user
          sudo dscl . -create /Users/vncuser
          sudo dscl . -create /Users/vncuser UserShell /bin/bash
          sudo dscl . -create /Users/vncuser RealName "VNC User"
          sudo dscl . -create /Users/vncuser UniqueID 1001
          sudo dscl . -create /Users/vncuser PrimaryGroupID 80
          sudo dscl . -create /Users/vncuser NFSHomeDirectory /Users/vncuser
          sudo dscl . -passwd /Users/vncuser "Password123"
          sudo createhomedir -c -u vncuser
          # Enable Screen Sharing (VNC)
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -clientopts -setvncpassword -vncpasswd "Password123" -restart -agent -privs -all
      - name: Start Ngrok Tunnel
        run: |
          ngrok tcp 5900 --log=stdout &
          sleep 21600 # This keeps the job running for 6 hours

